<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Show Page</title>
</head>
<body>

    <h1>At foo bar</h1>

        <ul>
            <li><h2>Name: <%= drink.name.split(' ')
                .map(x => x[0].toUpperCase() + x.substr(1).toLowerCase())
                .join(' ') %></h2></li>
            <li><img <%= drink.image %> /></li>
            <li><h3>Price: <%= drink.price %></h3></li>
        </ul>

   
        
    

    <h3><a href="/drinks">Back to Drink List</a></h3>
    
</body>
</html>