<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Show Page</title>
</head>
<body>

    <h1>Drinks Show Page</h1>

    <h2>name: <%= drinks.name %></h2>

    My favorite drinks is 
    

    <h3><a href="/drinks">Back to Drink List</a></h3>
    
</body>
</html>